.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--regular-font), sans-serif;
  font-weight: var(--font-weight-normal);
  font-variation-settings: 'wght' 400;
  background-color: var(--background-color);
  color: var(--accent-color);
  background-image: var(--background-image);
  background-attachment: fixed;
  background-size: cover;
  inline-size: var(--content-size);
  margin: 100px auto clamp(6.25rem, 6.184rem + 0.2817vw, 6.4375rem);
}

.dialog {
  inline-size: clamp(21.3125rem, 20.9604rem + 1.5023vw, 22.3125rem);
  block-size: clamp(11.9375rem, 11.8935rem + 0.1878vw, 12.0625rem);
  background-color: var(--background-color);
  border: 2px solid var(--accent-color);
  color: var(--accent-color);
  position: fixed;
  inset: 0;
  padding-block-start: 30px;
  padding-block-end: 30px;
  padding-inline-start: 42px;
  padding-inline-end: 42px;
  margin: auto;
}

.dialog[open] {
  display: grid;
}

.dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.dialog__group {
  display: flex;
  gap: 20px;
}

.dialog__conteiner-icon {
  inline-size: 40px;
  block-size: 40px;
}

.dialog__icon {
  margin-block-start: 12px;
  inline-size: 39px;
  block-size: auto;
}

.dialog__button {
  inline-size: clamp(16.0625rem, 15.2702rem + 3.3803vw, 18.3125rem);
  block-size: 38px;
  margin-block-start: 26px;
  background-color: transparent;
  padding: 0;
  border: 2px solid var(--accent-color);
}

.dialog__button-text {
  position: relative;
  mix-blend-mode: difference;
  color: var(--color-button-card);
}

.dialog__text {
  font-size: 14px;
  line-height: 21px;
  text-align: left;
  text-transform: uppercase;
}

.header {
  display: grid;
  justify-content: center;
  align-items: center;
  margin-block-end: 100px;
  background-color: var(--background-color);
  border: 2px solid var(--accent-color);
}

.header__title {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  padding: clamp(7.5rem, 7.1479rem + 1.5023vw, 8.5rem) clamp(0.875rem, -1.4688rem + 10vw, 7.53125rem) 20px;
}

.header__text {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  padding: 0 clamp(5rem, 2.8983rem + 8.9671vw, 10.96875rem) 25px;
  text-transform: uppercase;
}

.header__theme-menu {
  padding-inline-start: clamp(9.3125rem, 5.7694rem + 15.1174vw, 19.375rem);
  padding-block-end: 21px;
  font-size: 14px;
  line-height: 14px;
  text-align: left;
}

.theme-menu__list {
  display: grid;
  gap: 10px;
}

.theme-menu__button {
  text-transform: uppercase;
  position: relative;
  border: none;
  background-color: transparent;
}

.theme-menu__button:disabled::before {
  content: '▶';
  position: absolute;
  inset-inline-start: -15px;
  inline-size: 14px;
  block-size: 14px;
  animation-name: arrow;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}

@keyframes arrow {
  from {
    inset-inline-start: -15px;
  }
  to {
    inset-inline-start: -11px;
  }
}

.theme-menu__button:disabled, 
.theme-menu__button:hover {
  color: var(--assent-color-opacity);
  transition: color 0.3s ease;
}

.theme-menu__button:hover {
  cursor: pointer;
}

.theme-menu__button:disabled {
  pointer-events: none;
}

.theme-menu__button:focus {
  outline: none;
  color: var(--assent-color-opacity);
}

.theme-menu__button::after {
  content: '';
  display: block;
  height: 2px;
  background-color: var(--assent-color-opacity);
  width: 0%;
  transition: width 0.3s ease;
}

.theme-menu__button:focus-visible::after {
  width: 100%;
}

.content {
  display: grid;
  gap: clamp(3.125rem, 3.081rem + 0.1878vw, 3.25rem);
}

.card {
  background-color: var(--background-color);
  font-family: var(--variable-font), fantasy;
  border: 2px solid var(--accent-color);
}

.card__title {
  font-variation-settings: 'wght' 700;
  line-height: 21.78px;
  text-align: left;
  font-size: 18px;
  padding-inline-start: 10px;
  padding-inline-end: 24px;
  padding-block-start: clamp(0.21875rem, 0.2298rem + -0.0469vw, 0.1875rem);
  padding-block-end: clamp(0.34375rem, 0.3988rem + -0.2347vw, 0.1875rem);
}

main ul li:first-of-type .card__title {
  padding-block-start: clamp(0.25rem, 0.272rem + -0.0939vw, 0.1875rem);
  padding-block-end: clamp(0.375rem, 0.441rem + -0.2817vw, 0.1875rem);
}

main ul li:not(:first-child) .card__description {
  padding-block-start: 27px;
}

main ul li:first-child {
  margin-block-end: 51px;
}

main ul li:not(:first-child):not(:last-child) {
  margin-block-end: 50px;
}

.card__image-container {
  border-block-start: 2px solid var(--accent-color);
  inline-size: clamp(23.1875rem, 16.0352rem + 30.5164vw, 43.5rem);
  block-size: clamp(23.1875rem, 16.0352rem + 30.5164vw, 43.5rem);
}

.card__content {
  position: relative;
}

.card__content::before {
  content: '</HTML>';
  font-family: var(--regular-font);
  font-size: 14px;
  line-height: 14px;
  text-align: left;
  position: absolute;
  z-index: 1;
  inset-block-start: 25px;
  inset-inline-end: clamp(0.8125rem, 0.5484rem + 1.1268vw, 1.5625rem);
  background-blend-mode: hard-light;
  opacity: 50%;
  text-shadow:
  -1px 0 var(--text-shadow), 
  0 1px var(--text-shadow),
  1px 0 var(--text-shadow),
  0 -1px var(--text-shadow);
}

@supports((text-stroke: 1px var(--text-shadow)) or (-webkit-text-stroke: 1px var(--text-shadow))) {
  .card__content::before {
      -webkit-text-stroke: 1px var(--text-shadow);
      text-stroke: 1px var(--text-shadow);
      text-shadow: none;
  }
}

.card__content-psevdo::before {
  content: '<CSS>';
  font-family: var(--regular-font);
  font-size: 14px;
  line-height: 14px;
  text-align: left;
  position: absolute;
  z-index: 1;
  inset-block-start: 25px;
  inset-inline-end: clamp(0.8125rem, 0.5484rem + 1.1268vw, 1.5625rem);
  background-blend-mode: hard-light;
  opacity: 50%;
}

.card__content-psevdoel::before {
  content: '<desigions>';
  font-family: var(--regular-font);
  font-size: 14px;
  line-height: 14px;
  text-align: left;
  position: absolute;
  z-index: 1;
  inset-block-start: 25px;
  inset-inline-end: clamp(0.8125rem, 0.5484rem + 1.1268vw, 1.5625rem);
  background-blend-mode: hard-light;
  opacity: 50%;
}

.card__content-psevdo-element::before {
  content: 'care';
  font-family: var(--regular-font);
  font-size: 14px;
  line-height: 14px;
  text-align: left;
  position: absolute;
  z-index: 1;
  inset-block-start: 25px;
  inset-inline-end: clamp(0.8125rem, 0.5484rem + 1.1268vw, 1.5625rem);
  background-blend-mode: hard-light;
  opacity: 50%;
}

.content-psevdo-element-2::before {
  content: '<support>';
  font-family: var(--regular-font);
  font-size: 14px;
  line-height: 14px;
  text-align: left;
  position: absolute;
  z-index: 1;
  inset-block-start: 25px;
  inset-inline-end: clamp(0.8125rem, 0.5484rem + 1.1268vw, 1.5625rem);
  background-blend-mode: hard-light;
  opacity: 50%;
}

.content-psevdo-element-3::before {
  content: '<lifes-style: none;>';
  font-family: var(--regular-font);
  font-size: 14px;
  line-height: 14px;
  text-align: left;
  position: absolute;
  z-index: 1;
  inset-block-start: 25px;
  inset-inline-end: clamp(0.8125rem, 0.5484rem + 1.1268vw, 1.5625rem);
  background-blend-mode: hard-light;
  opacity: 50%;
}

.content-psevdo-element-4::before {
  content: '<experience>';
  font-family: var(--regular-font);
  font-size: 14px;
  line-height: 14px;
  text-align: left;
  position: absolute;
  z-index: 1;
  inset-block-start: 25px;
  inset-inline-end: clamp(0.8125rem, 0.5484rem + 1.1268vw, 1.5625rem);
  background-blend-mode: hard-light;
  opacity: 50%;
}

.card__image {
  block-size: 100%;
  inline-size: 100%;
  filter: contrast(110%);
}

.card__image-pale {
  filter: contrast(110%) grayscale(0.7);
}

.card__image-bright {
  filter: contrast(110%) saturate(200%) brightness(120%);
}

.card__image-warm {
  filter: contrast(110%) hue-rotate(20deg);
}

.card__image-cold {
  filter: contrast(110%) invert(0.75);
}

.card__image-dark {
  filter: contrast(110%) sepia(80%);
}

.card__image-turbid {
  filter: contrast(110%) blur(0.5rem);
}

.card__image-clear {
  filter: contrast(60%) blur(0.1rem) hue-rotate(70deg) opacity(0.8);
}

.card__description {
  border-block-start: 2px solid var(--accent-color);
  padding: 25px;
  display: grid;
  gap: 27px;
}

.card__text {
  line-height: 21px;
  text-align: left;
  font-size: 18px;
}

.card__button {
  display: flex;
  justify-content: end;
  margin-inline-end: 25px;
  margin-block-end: 25px;
  gap: 4px;
}

.card__icon-button {
  background-color: transparent;
  border: 2px solid transparent;
  block-size: 38px;
  inline-size: 43px;
  padding: 0;
}

.like-icon {
  padding-block-start: 2px;
}

.card__icon-button:focus, 
.like-icon:focus {
  outline: none;
  border: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--accent-color);
  transition: border 0.3s ease;
  outline: none;
}

.sparks {
  opacity: 0;
}

.core {
  fill: var(--background-color);
  transition: fill 0.3s linear 0.03s;
}

.like-icon .contour {
  fill: var(--color-conture-heart);
  transition: fill 0.1s linear;
}

.like-icon:hover .core {
  fill: var(--color-conture-heart);
  transition: fill 0.3s linear;
}

.like-icon:active .core {
  fill: var(--color-background-heart);
  transition: fill 0.3s linear;
}

.main-body {
  fill: var(--background-color);
  transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
  fill: var(--color-conture-heart);
  transition: fill 0.3s linear 0.05s;
}

.like-icon:active .main-body {
  fill: var(--color-background-heart);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--color-background-heart);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--color-background-heart);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--color-background-heart);
  transition: fill 0.3s linear 0.06s;
}

.like-icon.is-liked .heart {
  animation: heart 0.3s ease-in alternate 0.1s;
  transform-origin: center;
}

.like-icon.is-liked .sparks {
  animation: sparks 0.3s ease-in alternate 0.3s;
}

@keyframes heart {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.5);
  }
}

@keyframes sparks {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.button-all {
  background-color: transparent;
  position: relative;
  overflow: hidden;
}

.button-all:focus {
  outline: none;
  box-shadow: 2px 2px 0 var(--accent-color);
  transition: box-shadow 0.3s ease;
}

.button-all::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-100%);
  transition: transform 0.5s ease-in-out;
  background-color: var(--accent-color);
  inline-size: 100%;
  block-size: 100%;
}

.button-all:hover::before {
  transform: translate(0);
}

.button-all:hover {
  cursor: pointer;
}

.card__like-button {
  inline-size: 130px;
  block-size: 38px;
  border: 2px solid var(--accent-color);
  padding: 0;
}

.button__text {
  display: block;
  position: relative;
  padding: 12px auto;
  font-family: var(--regular-font), sans-serif;
  font-size: 14px;
  line-height: 12.6px;
  text-align: center;
  mix-blend-mode: difference;
  color: var(--color-button-card);
}

.footer {
  display: flex;
  justify-content: center;
}

.footer__button {
  inline-size: clamp(19.125rem, 18.3988rem + 3.0986vw, 21.1875rem);
  block-size: 84 px;
  margin: clamp(3.25rem, 3.294rem + -0.1878vw, 3.125rem) auto 0;
  background-color: var(--background-color);
  padding: 15px 20px 15px 16px;
  border: 2px solid var(--accent-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__text {
  position: relative;
  font-size: 14px;
  line-height: 12.6px;
  text-align: end;
  margin-block-start: 8px;
  color: var(--color-button-card);
  mix-blend-mode: difference;
  word-spacing: -1px;
}

.footer__button-icon {
  inline-size: clamp(1.75rem, 1.904rem + -0.6573vw, 1.3125rem);
  block-size: auto;
}

.footer__icon {
  inline-size: 100%;
  height: auto;
  color: var(--color-button-card);
  mix-blend-mode: difference;
}

@media (width > 375px) {
  .dialog {
    padding-inline-start: 30px;
    padding-inline-end: 30px;
  }

  main ul li:first-child {
    margin-block-end: 52px;
  }

  main ul li:not(:first-child) .card__description {
    padding-block-start: 27px;
  }

  .footer__button {
    flex-direction: row;
    gap: 8px;
    block-size: 55px;
  }

  .footer__icon {
    inline-size: 21px;
  }

  .footer__text {
    word-spacing: -2px;
  }
}